/* SECCION SIGUENOS SEPTIMO APARTADO */
.siguenos-contenedor {
  width: 100%;
  overflow: hidden;
  margin: 0;          /* Elimina márgenes innecesarios */
  padding: 0;         /* Elimina espacio superior e inferior */
  position: relative;
}

.siguenos {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.siguenos img {
    width: 100%;
    max-width: 1200px;
    height: auto;
}